<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uur.dbsqliteexample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.uur.dbsqliteexample.activities.ListCompaniesActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.uur.dbsqliteexample.activities.AddCompanyActivity"
            android:label="@string/add_new_company"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.uur.dbsqliteexample.activities.AddEmployeeActivity"
            android:label="@string/add_new_employee"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="com.example.uur.dbsqliteexample.activities.ListEmployeesActivity"
            android:label="@string/all_employees"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />


    </application>

</manifest>
